.childs-container {
   height: 100%;
   /* width: 100%; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.cards {
    height: 100%;
    overflow: hidden;
    width: 80vw;
    display: flex;
    justify-content: center;
    /* background-color: green; */
    flex-wrap: wrap;
}


.card {
    margin-left: 20px;
    margin-top: 25px;
    height: 70vh;
    width: 20vw;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}
.card h1 {
    font-size: 1.8rem;
    margin-top: 10px;
}
.card h2 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: .9rem;
    background-color: orange;
    color: #fff;
}
.card h4 {
    display: flex;
    font-size: .9rem;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}
.card p {
    font-weight: lighter;
    text-align: center;
    font-size: .9rem;
}
.card button {
    width: 200px;
    height: 45px;
    margin-top: 20px;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
}
.card img {
    object-fit: cover;
    overflow: hidden;
    height: 35vh;
    width: 100%;
}

.row-buttons-childs {
    /* background-color: red; */
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-viewMore {
    cursor: pointer;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color: #111;
    font-weight: bold;
    margin-right: 10px;
    width: 300px;
}

.btn-randomChild {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: #111;
    font-weight: bold;
    margin-left: 10px;
    width: 300px;
    border: 2px solid orange;
}


.btn-randomChild:hover {
    background-color: orange;
    color: #fff;
}

.child-details-container {
    /* background-color: red; */
    height: 100vh;
    display: flex;
}

.row-child-details{
    /* background-color: green; */
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.row-child-details .box-img img {
    height: 65vh;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.row-child-details .box-img {
    height: 70vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    /* background-color: yellow; */
} 
.row-child-details .box-img p  {
    background-color: orange;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.row-child-details .box-img span {
    font-weight: bold;
    color: indigo;
}
.row-child-details span {
    font-weight: bold;
    color: orange;
}

.row-child-details .col-details {
    /* background-color: blue; */
    width: 40%;
    padding: 20px;
}
.row-child-details .col-details h1 {
    font-size: 2.5rem;
    
}
.row-child-details .col-details p {
    font-size: 1.1rem;
    margin-bottom: 10px;

}
.row-child-details .col-details h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;

}
.row-child-details .col-details  button {
    width: 300px;
    height: 50px;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}
.banner-header-title {
    width: 100%;
    height: 30vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headline-card {
    color: #fff;
    width: 50vw;
    height: 20vh;
    text-align: center;
}
.headline-card h1{
    font-size: 2rem;

}
.headline-card p {
    font-size: 1rem;
}

.filter-box {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 20vh;
    border-radius: 10px;
}
.filter-box p {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1rem;
}
.gender-filter {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    text-align: center;
}
.gender-names {
    display: flex;
}
.gender-buttons {
    margin-top: 5px;
}
.gender-buttons button{
    cursor: pointer;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: transparent;
    color: #111;
    font-weight: 400;
    font-size: 1rem;
}
.navbar {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row-items {
    /* background-color: green; */
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
}
.row-items h3 {
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}
.row-items h3:hover {
    color: orange;
}
.search_user_items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    padding: 10px;
    /* background-color: yellow; */
}
.search_user_items input {
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 10px;
    width: 15vw;
    padding: 8px;
}
.search_user_items i {
    cursor: pointer;
}